# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.yolo-env/
.yoloenv/
env/
.yenv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Editor configs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Mac system files
.DS_Store

# Log files
*.log

# YOLO-specific
runs/
